.section-one{
  background-image: url("../../../assets/images/philippstraub_background_section1.png");
  min-height: 100%;
  position: relative;
  //opacity: 0.70;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

